.venv
.env
backend/db.sqlite3
backend/db.json
backend/templates/
backend/website/__pycache__/
backend/website/views/__pycache__/
frontend/dist/
/venv/
/backend/staticfiles/
/z-env/local.env
/z-env/docker.env
