/* Define a class .dark-mode for dark mode styles */
.dark-mode {
  --background: #141D24;
  --surfacePrimary: #20292F;
  --surfaceSecondary: #3A4147;
  --divider: rgba(255, 255, 255, 0.12);
  --textPrimary: rgba(255, 255, 255, 0.87);
  --textSecondary: rgba(255, 255, 255, 0.6);
  --sb-thumb-color: var(--surfaceSecondary);
}

.dark-mode .listing-notice {
  background-color: var(--surfaceSecondary);
  border: 1px solid var(--surfaceSecondary);
  color: #dcdcdc;
}

.dark-mode table tr {
  border-bottom: 1px solid var(--surfaceSecondary);
}

.dark-mode #loading {
  background: var(--background);
}

.dark-mode #login {
  background: var(--background);
}

/* Loading */
.dark-mode #loading {
  background: var(--background);
}

.dark-mode .grid .item-wrapper:hover {
  background: var(--surfacePrimary);
}

.dark-mode .grid .item-wrapper [aria-selected=true] {
  background: var(--surfaceSecondary);
}

/* Login */
.dark-mode #login {
  background: var(--background);
}

#search.dark-mode input {
  color: white
}

#search.active.dark-mode #input {
  border-color: white;
}

/* Search input */
.dark-mode #search #input {
  background: var(--surfaceSecondary);
  border-color: var(--surfaceSecondary);
}

.dark-mode #search #input input::placeholder {
  color: var(--textSecondary);
}

/* Active Search input */
.dark-mode #search.active #input {
  background: var(--surfacePrimary);
  border-color: white;
}

.dark-mode #search.active input {
  color: var(--textPrimary);
}

/* Search result */
.dark-mode #search #result {
  background: var(--background);
  color: var(--textPrimary);
}

/* Search boxes */
.dark-mode #search .boxes h3 {
  color: var(--textPrimary);
}

/* Action */
.dark-mode .action {
  color: var(--textPrimary) !important;
}

.dark-mode .action:hover {
  background-color: rgba(255, 255, 255, .1);
}

/* Action counter */
.dark-mode .action .counter {
  border-color: var(--surfacePrimary);
}

/* Navigation */
.dark-mode nav > div {
  border-color: var(--divider);
}

.dark-mode .breadcrumbs {
  border-color: var(--divider);
  color: var(--textPrimary) !important;
}

.dark-mode .breadcrumbs span {
  color: var(--textPrimary) !important;
}

.dark-mode .breadcrumbs a:hover {
  background-color: rgba(255, 255, 255, .1);
}

.dark-mode #listingView h2,
.dark-mode #listingView.list .header span {
  color: var(--textPrimary) !important;
}

.dark-mode .message {
  color: var(--textPrimary);
}

.dark-mode .card {
  background: var(--surfacePrimary);
  color: var(--textPrimary);
}

.dark-mode .button--flat:not(:disabled):hover {
  background: var(--surfaceSecondary);
}

.dark-mode .dashboard #nav ul li {
  color: var(--textSecondary);
}

.dark-mode .dashboard #nav ul li:hover {
  background: var(--surfaceSecondary);
}

#search.active.dark-mode #result {
  background-color: black;
}

.dark-mode .card h3,
.dark-mode .dashboard #nav,
.dark-mode .dashboard p label {
  color: var(--textPrimary);
}

.dark-mode .card#share input,
.dark-mode .card#share select,
.dark-mode .input {
  background: var(--surfaceSecondary);
  color: var(--textPrimary);
}

.dark-mode .input:hover,
.dark-mode .input:focus {
  border-color: rgba(255, 255, 255, 0.15);
}

.dark-mode .input--red {
  background: #73302D;
}

.dark-mode .input--green {
  background: #147A41;
}

.dark-mode .dashboard #nav .wrapper,
.dark-mode .collapsible {
  border-color: var(--divider);
}

.dark-mode .collapsible > label * {
  color: var(--textPrimary);
}

.dark-mode table th {
  color: var(--textSecondary);
}

.dark-mode .file-list li:hover {
  background: var(--surfaceSecondary);
}

.dark-mode .file-list li:before {
  color: var(--textSecondary);
}

.dark-mode .button-group button {
  color: white;
  background-color: var(--background);
}

.dark-mode {
  background: #141D24 !important;
  color: var(--textPrimary);
}

.dark-mode .list .item-wrapper .item {
  background-color: var(--background) !important;
}

.dark-mode .list .item-wrapper .item:hover {
  background-color: var(--surfaceSecondary) !important;
}