/* Icons */

/* General */

.file-icons [data-type=Audio] i::before {
  content: 'volume_up'
}

.file-icons [data-type=Blob] i::before {
  content: 'insert_drive_file'
}

.file-icons [data-type=Image] i::before {
  content: 'image'
}

.file-icons [data-type=Text] i::before {
  content: 'description'
}

.file-icons [data-type=Database] i::before {
  content: 'sd_card'
}

.file-icons [data-type=Video] i::before {
  content: 'movie'
}

.file-icons [data-type=Other] i::before {
  content: 'description'
}

.file-icons [data-type=System] i::before {
  content: 'description'
}

.file-icons [data-type=Code] i::before {
  content: 'description'
}

.file-icons [aria-label$=".cr2" i] i::before,
.file-icons [aria-label$=".cr3" i] i::before,
.file-icons [data-type="Raw image"] i::before {
  content: 'camera'
}

/* #f90 - Image */

.file-icons [aria-label$=".ai" i] i::before,
.file-icons [aria-label$=".odg" i] i::before,
.file-icons [aria-label$=".xcf" i] i::before {
  content: 'image'
}

/* #f90 - Presentation */

.file-icons [aria-label$=".odp" i] i::before,
.file-icons [aria-label$=".ppt" i] i::before,
.file-icons [aria-label$=".pptx" i] i::before {
  content: 'slideshow'
}

/* #0f0 - Spreadsheet/Database */

.file-icons [aria-label$=".csv" i] i::before,
.file-icons [aria-label$=".db" i] i::before,
.file-icons [aria-label$=".odb" i] i::before,
.file-icons [aria-label$=".ods" i] i::before,
.file-icons [aria-label$=".xls" i] i::before,
.file-icons [aria-label$=".xlsx" i] i::before {
  content: 'border_all'
}

/* #00f - Document */

.file-icons [aria-label$=".doc" i] i::before,
.file-icons [aria-label$=".docx" i] i::before,
.file-icons [aria-label$=".log" i] i::before,
.file-icons [aria-label$=".odt" i] i::before,
.file-icons [aria-label$=".rtf" i] i::before,
.file-icons [aria-label$=".pdf" i] i::before {
  content: 'description'
}

/* #999 - Code */

.file-icons [aria-label$=".c" i] i::before,
.file-icons [aria-label$=".cpp" i] i::before,
.file-icons [aria-label$=".cs" i] i::before,
.file-icons [aria-label$=".css" i] i::before,
.file-icons [aria-label$=".go" i] i::before,
.file-icons [aria-label$=".h" i] i::before,
.file-icons [aria-label$=".html" i] i::before,
.file-icons [aria-label$=".java" i] i::before,
.file-icons [aria-label$=".js" i] i::before,
.file-icons [aria-label$=".json" i] i::before,
.file-icons [aria-label$=".kt" i] i::before,
.file-icons [aria-label$=".php" i] i::before,
.file-icons [aria-label$=".py" i] i::before,
.file-icons [aria-label$=".rb" i] i::before,
.file-icons [aria-label$=".rs" i] i::before,
.file-icons [aria-label$=".vue" i] i::before,
.file-icons [aria-label$=".xml" i] i::before,
.file-icons [aria-label$=".yml" i] i::before {
  content: 'code'
}

/* #999 - Executable */

.file-icons [aria-label$=".apk" i] i::before,
.file-icons [aria-label$=".bat" i] i::before,
.file-icons [aria-label$=".exe" i] i::before,
.file-icons [aria-label$=".jar" i] i::before,
.file-icons [aria-label$=".ps1" i] i::before,
.file-icons [aria-label$=".sh" i] i::before {
  content: 'terminal'
}


.file-icons [aria-label$=".md" i] i::before {
  content: 'article'

}
/* #999 - Installer */

.file-icons [aria-label$=".deb" i] i::before,
.file-icons [aria-label$=".msi" i] i::before,
.file-icons [aria-label$=".pkg" i] i::before,
.file-icons [aria-label$=".rpm" i] i::before {
  content: 'archive'
}

/* #999 - Compressed */

.file-icons [aria-label$=".7z" i] i::before,
.file-icons [aria-label$=".bz2" i] i::before,
.file-icons [aria-label$=".cab" i] i::before,
.file-icons [aria-label$=".gz" i] i::before,
.file-icons [aria-label$=".rar" i] i::before,
.file-icons [aria-label$=".tar" i] i::before,
.file-icons [aria-label$=".xz" i] i::before,
.file-icons [aria-label$=".zip" i] i::before,
.file-icons [aria-label$=".zst" i] i::before {
  content: 'folder_zip'
}

/* #999 - Disk */

.file-icons [aria-label$=".ccd" i] i::before,
.file-icons [aria-label$=".dmg" i] i::before,
.file-icons [aria-label$=".iso" i] i::before,
.file-icons [aria-label$=".mdf" i] i::before,
.file-icons [aria-label$=".vdi" i] i::before,
.file-icons [aria-label$=".vhd" i] i::before,
.file-icons [aria-label$=".vmdk" i] i::before,
.file-icons [aria-label$=".wim" i] i::before {
  content: 'album'
}

/* #999 - Font */

.file-icons [aria-label$=".otf" i] i::before,
.file-icons [aria-label$=".ttf" i] i::before,
.file-icons [aria-label$=".woff" i] i::before,
.file-icons [aria-label$=".woff2" i] i::before {
  content: 'font_download'
}

/* E-Books */
.file-icons [aria-label$=".mobi" i] i:before,
.file-icons [aria-label$=".epub" i] i:before {
  content: 'menu_book'
}

/* Torrents */
.file-icons [aria-label$=".torrent" i] i:before {
  content: 'token'
}

/* 3D */
.file-icons [aria-label$=".fcstd" i] i:before,
.file-icons [aria-label$=".stl" i] i:before {
  content: 'view_in_ar'
}
/* Colors */

/* General */

.file-icons [data-type=Audio] i {
  color: var(--icon-yellow)
}

.file-icons [data-type=Image] i {
  color: var(--icon-orange)
}

.file-icons [data-type=Video] i {
  color: var(--icon-violet)
}

/* #f00 - Adobe/Oracle */

.file-icons [aria-label$=".ai" i] i,
.file-icons [aria-label$=".java" i] i,
.file-icons [aria-label$=".jar" i] i,
.file-icons [aria-label$=".psd" i] i,
.file-icons [aria-label$=".rb" i] i,
.file-icons [aria-label$=".pdf" i] i {
  color: var(--icon-red)
}

/* #f90 - Image/Presentation */

.file-icons [aria-label$=".html" i] i,
.file-icons [aria-label$=".odg" i] i,
.file-icons [aria-label$=".odp" i] i,
.file-icons [aria-label$=".ppt" i] i,
.file-icons [aria-label$=".pptx" i] i,
.file-icons [aria-label$=".vue" i] i,
.file-icons [aria-label$=".xcf" i] i {
  color: var(--icon-orange)
}

/* #ff0 - Various */

.file-icons [aria-label$=".css" i] i,
.file-icons [aria-label$=".js" i] i,
.file-icons [aria-label$=".json" i] i,
.file-icons [aria-label$=".zip" i] i,
.file-icons [aria-label$=".gz" i] i,
.file-icons [aria-label$=".bat" i] i,
.file-icons [aria-label$=".msi" i] i,
.file-icons [aria-label$=".odt" i] i,
.file-icons [aria-label$=".ps1" i] i,
.file-icons [aria-label$=".exe" i] i {
  color: var(--icon-yellow)
}

/* #0f0 - Spreadsheet/Google */

.file-icons [aria-label$=".apk" i] i,
.file-icons [aria-label$=".dex" i] i,
.file-icons [aria-label$=".go" i] i,
.file-icons [aria-label$=".ods" i] i,
.file-icons [aria-label$=".xls" i] i,
.file-icons [aria-label$=".xlsx" i] i {
  color: var(--icon-green)
}

/* #00f - Document/Microsoft/Apple/Closed */

.file-icons [aria-label$=".aac" i] i,
.file-icons [aria-label$=".cab" i] i,
.file-icons [aria-label$=".cs" i] i,
.file-icons [aria-label$=".dmg" i] i,
.file-icons [aria-label$=".doc" i] i,
.file-icons [aria-label$=".docx" i] i,
.file-icons [aria-label$=".emf" i] i,
.file-icons [aria-label$=".ico" i] i,
.file-icons [aria-label$=".mp2" i] i,
.file-icons [aria-label$=".mp4" i] i,
.file-icons [aria-label$=".mpg" i] i,
.file-icons [aria-label$=".rtf" i] i,
.file-icons [aria-label$=".vob" i] i,
.file-icons [aria-label$=".wim" i] i {
  color: var(--icon-blue)
}

/* #60f - Various */

.file-icons [aria-label$=".iso" i] i,
.file-icons [aria-label$=".php" i] i,
.file-icons [aria-label$=".rar" i] i {
  color: var(--icon-violet)
}

/* E-Books */
.file-icons [aria-label$=".mobi" i] i,
.file-icons [aria-label$=".epub" i] i {
  color: var(--icon-green)
}


/* Overrides */

.file-icons [data-dir=true] i {
  color: var(--icon-blue)
}

.file-icons [data-dir=true] i::before {
  content: 'folder'
}

/*.file-icons [aria-selected=true] i { color: var(--item-selected) }*/


