@media (max-width: 1024px) {
  nav {
    width: 10em
  }
  /* Mobile Only fix div hidden by bottom navigation bar of mobile browser when using height: 100vh */
  #previewer .preview {
    height: calc(100% - 2em) !important;
    /*todo*/

  }
}

@media (max-width: 1024px) {
  main {
    width: calc(100% - 13em)
  }
}

@media (max-width: 950px) {
  * {
    --sb-size: 4px;
  }
  .grid .item-wrapper {
    margin: 0.25em !important;
  }
  .grid .item-wrapper .item .name p {
    font-size: 13px !important;
    margin: 1em 1em 0.5em !important;
  }

  body {
    /*todo*/
    /*padding-bottom: 5em;*/
  }
  #listing.list .item .size {
    display: none;
  }
  #listing.list .item .name {
    width: 60%;
  }
  #more {
    display: inherit
  }
  header .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #dropdown {
    position: fixed;
    top: 1em;
    right: 1em;
    display: block;
    background-color: var(--surfaceSecondary);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform: scale(0);
    transition: .1s ease-in-out transform;
    transform-origin: top right;
    z-index: 99999;
  }

  #dropdown > div {
    display: block;
  }
  #dropdown.active {
    transform: scale(1);
  }
  #dropdown .action {
    display: flex;
    align-items: center;
    border-radius: 0;
    width: 100%;
  }
  #dropdown .action span:not(.counter) {
    display: inline-block;
    padding: .4em;
  }
  #dropdown .counter {
    left: 2.25em;
  }
  #file-selection {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    background:  rgb(230, 230, 230);
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 3px, rgba(0, 0, 0, 0.12) 0 1px 2px;
    width: 95%;
    max-width: 20em;
    z-index: 9996;
  }
  #file-selection .action {
    border-radius: 50%;
    width: auto;
  }
  #file-selection > span {
    display: inline-block;
    margin-left: 1em;
    color: #6f6f6f;
    margin-right: auto;
  }
  #file-selection .action span {
    display: none;
  }
  nav {
    top: 0;
    z-index: 99999;
    background: var(--background);
    height: 100%;
    width: 16em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: .1s ease left;
    left: -17em;
  }

  nav.active {
    left: 0;
  }

  .shell__divider {
    height: 12px;
  }

  header .search-button,
  header .menu-button {
    display: inherit;
  }
  header img {
    display: none;
  }
  #listing {
    margin-bottom: 5em;
  }
  .breadcrumbs {
    padding-left: 1em;
  }
  header {
    padding-left: 0.5em;
  }
  main {
    margin: 0 0;
    width: 100%;
  }
  #search {
    max-width: 15em;

  }
  .listing-notice {
    margin-left: 0.5em;
    margin-right: 0.5em;

  }
  .message img {
    max-width: 100%;
    padding-left: 0.75em;
    max-height: 100%
  }
  .scroller {
    padding-bottom: 0.5em !important;
  }
}

@media (max-width: 450px) {
  #listing.list .item .created {
    display: none;
  }
  #listing.list .item .name {
    width: 100%;
  }
  .scroller {
    padding-bottom: 0.5em !important;
  }
}