.upload-files .card.floating {
  left: auto;
  top: auto;
  margin: 0;
  right: 0;
  bottom: 0;
  transform: none;
  max-height: 55%;
  max-width: 27em;
}

.upload-files .upload-info {
  padding-right: 1em;
  max-height: 12em;

}
.upload-files {
  position: relative;
  z-index: 9995;
}
.upload-files h2{
  padding-right: 1em;
}
.upload-files .file {
  margin-bottom: 8px;
}

.upload-files .file .file-name {
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

.upload-files .file .file-name i {
  margin-right: 5px;
}

.upload-files .file .file-progress {
  margin-top: 2px;
  width: 100%;
  height: 5px;
}

.upload-files .file .file-progress div {
  height: 100%;
  background-color: #40c4ff;
  width: 0;
  transition: 0.2s ease width;
  border-radius: 10px;
}

.upload-files.closed .card-content {
  display: none;
  padding: 0 1em 1em 1em;
}

.upload-files .card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--background);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  padding: 1em 1em 0.2em !important;
}

.upload-files .action-buttons {
  display: flex;
  align-items: center;
}

.upload-files.closed .card.floating {
  border-radius: 10px 10px 0 0;
}

.upload-files.closed .card-title {
  font-size: 0.7em;
  padding: 0.5em 1em;
  background-color: var(--surfacePrimary);
}

@media (max-width: 450px) {
  .upload-files .card.floating {
    max-width: 100%;
    width: 100%;
  }
}
