header {
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  height: 4em;
  width: 100%;
  padding: 0;
  display: flex;
  padding: 0.5em 0.5em 0.5em 1em;
  align-items: center;
}

header > * {
  flex: 0 0 auto;
}

header title {
  display: block;
  flex: 1 1 auto;
  padding: 0 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em;
}

header .overlay {
  width: 0;
  height: 0;
}

header a,
header a:hover {
  color: inherit;
}

header>div:first-child>.action,
header img {
  margin-right: 1em;
}

header img {
  height: 2.5em;
}

header .action span {
  display: none;
}

header>div div {
  vertical-align: middle;
  position: relative;
}

header .search-button,
header .menu-button {
  display: none;
}

#more {
  display: none;
}

#search {
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 25em;
}


#search #input {
  background-color: #f5f5f5;
  display: flex;
  height: 100%;
  padding: 0em 0.75em;
  border-radius: 0.3em;
  transition: .1s ease all;
  align-items: center;
  z-index: 2;
}

#search #input>i {
  margin-right: 0.3em;
  user-select: none;
}

#search input {
  width: 100%;
  border: 0;
  background-color: transparent;
  padding: 0;
}






