@charset "UTF-8";
[theme=androidstudio] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=androidstudio] code.hljs {
  padding: 3px 5px;
}
[theme=androidstudio] .hljs {
  color: #a9b7c6;
  background: #282b2e;
}
[theme=androidstudio] .hljs-bullet, [theme=androidstudio] .hljs-literal, [theme=androidstudio] .hljs-number, [theme=androidstudio] .hljs-symbol {
  color: #6897bb;
}
[theme=androidstudio] .hljs-deletion, [theme=androidstudio] .hljs-keyword, [theme=androidstudio] .hljs-selector-tag {
  color: #cc7832;
}
[theme=androidstudio] .hljs-link, [theme=androidstudio] .hljs-template-variable, [theme=androidstudio] .hljs-variable {
  color: #629755;
}
[theme=androidstudio] .hljs-comment, [theme=androidstudio] .hljs-quote {
  color: grey;
}
[theme=androidstudio] .hljs-meta {
  color: #bbb529;
}
[theme=androidstudio] .hljs-addition, [theme=androidstudio] .hljs-attribute, [theme=androidstudio] .hljs-string {
  color: #6a8759;
}
[theme=androidstudio] .hljs-section, [theme=androidstudio] .hljs-title, [theme=androidstudio] .hljs-type {
  color: #ffc66d;
}
[theme=androidstudio] .hljs-name, [theme=androidstudio] .hljs-selector-class, [theme=androidstudio] .hljs-selector-id {
  color: #e8bf6a;
}
[theme=androidstudio] .hljs-emphasis {
  font-style: italic;
}
[theme=androidstudio] .hljs-strong {
  font-weight: 700;
}

[theme=atom-one-dark] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=atom-one-dark] code.hljs {
  padding: 3px 5px;
}
[theme=atom-one-dark] .hljs {
  color: #abb2bf;
  background: #282c34;
}
[theme=atom-one-dark] .hljs-comment, [theme=atom-one-dark] .hljs-quote {
  color: #5c6370;
  font-style: italic;
}
[theme=atom-one-dark] .hljs-doctag, [theme=atom-one-dark] .hljs-formula, [theme=atom-one-dark] .hljs-keyword {
  color: #c678dd;
}
[theme=atom-one-dark] .hljs-deletion, [theme=atom-one-dark] .hljs-name, [theme=atom-one-dark] .hljs-section, [theme=atom-one-dark] .hljs-selector-tag, [theme=atom-one-dark] .hljs-subst {
  color: #e06c75;
}
[theme=atom-one-dark] .hljs-literal {
  color: #56b6c2;
}
[theme=atom-one-dark] .hljs-addition, [theme=atom-one-dark] .hljs-attribute, [theme=atom-one-dark] .hljs-meta .hljs-string, [theme=atom-one-dark] .hljs-regexp, [theme=atom-one-dark] .hljs-string {
  color: #98c379;
}
[theme=atom-one-dark] .hljs-attr, [theme=atom-one-dark] .hljs-number, [theme=atom-one-dark] .hljs-selector-attr, [theme=atom-one-dark] .hljs-selector-class, [theme=atom-one-dark] .hljs-selector-pseudo, [theme=atom-one-dark] .hljs-template-variable, [theme=atom-one-dark] .hljs-type, [theme=atom-one-dark] .hljs-variable {
  color: #d19a66;
}
[theme=atom-one-dark] .hljs-bullet, [theme=atom-one-dark] .hljs-link, [theme=atom-one-dark] .hljs-meta, [theme=atom-one-dark] .hljs-selector-id, [theme=atom-one-dark] .hljs-symbol, [theme=atom-one-dark] .hljs-title {
  color: #61aeee;
}
[theme=atom-one-dark] .hljs-built_in, [theme=atom-one-dark] .hljs-class .hljs-title, [theme=atom-one-dark] .hljs-title.class_ {
  color: #e6c07b;
}
[theme=atom-one-dark] .hljs-emphasis {
  font-style: italic;
}
[theme=atom-one-dark] .hljs-strong {
  font-weight: 700;
}
[theme=atom-one-dark] .hljs-link {
  text-decoration: underline;
}

[theme=github-dark] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=github-dark] code.hljs {
  padding: 3px 5px;
}
[theme=github-dark] .hljs {
  color: #c9d1d9;
  background: #0d1117;
}
[theme=github-dark] .hljs-doctag, [theme=github-dark] .hljs-keyword, [theme=github-dark] .hljs-meta .hljs-keyword, [theme=github-dark] .hljs-template-tag, [theme=github-dark] .hljs-template-variable, [theme=github-dark] .hljs-type, [theme=github-dark] .hljs-variable.language_ {
  color: #ff7b72;
}
[theme=github-dark] .hljs-title, [theme=github-dark] .hljs-title.class_, [theme=github-dark] .hljs-title.class_.inherited__, [theme=github-dark] .hljs-title.function_ {
  color: #d2a8ff;
}
[theme=github-dark] .hljs-attr, [theme=github-dark] .hljs-attribute, [theme=github-dark] .hljs-literal, [theme=github-dark] .hljs-meta, [theme=github-dark] .hljs-number, [theme=github-dark] .hljs-operator, [theme=github-dark] .hljs-selector-attr, [theme=github-dark] .hljs-selector-class, [theme=github-dark] .hljs-selector-id, [theme=github-dark] .hljs-variable {
  color: #79c0ff;
}
[theme=github-dark] .hljs-meta .hljs-string, [theme=github-dark] .hljs-regexp, [theme=github-dark] .hljs-string {
  color: #a5d6ff;
}
[theme=github-dark] .hljs-built_in, [theme=github-dark] .hljs-symbol {
  color: #ffa657;
}
[theme=github-dark] .hljs-code, [theme=github-dark] .hljs-comment, [theme=github-dark] .hljs-formula {
  color: #8b949e;
}
[theme=github-dark] .hljs-name, [theme=github-dark] .hljs-quote, [theme=github-dark] .hljs-selector-pseudo, [theme=github-dark] .hljs-selector-tag {
  color: #7ee787;
}
[theme=github-dark] .hljs-subst {
  color: #c9d1d9;
}
[theme=github-dark] .hljs-section {
  color: #1f6feb;
  font-weight: 700;
}
[theme=github-dark] .hljs-bullet {
  color: #f2cc60;
}
[theme=github-dark] .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic;
}
[theme=github-dark] .hljs-strong {
  color: #c9d1d9;
  font-weight: 700;
}
[theme=github-dark] .hljs-addition {
  color: #aff5b4;
  background-color: #033a16;
}
[theme=github-dark] .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c;
}

[theme=gradient-dark] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=gradient-dark] code.hljs {
  padding: 3px 5px;
}
[theme=gradient-dark] .hljs {
  background-color: #652487;
  background-image: linear-gradient(160deg, #652487 0, #443ac3 35%, #0174b7 68%, #04988e 100%);
  color: #e7e4eb;
}
[theme=gradient-dark] .hljs-subtr {
  color: #e7e4eb;
}
[theme=gradient-dark] .hljs-comment, [theme=gradient-dark] .hljs-doctag, [theme=gradient-dark] .hljs-meta, [theme=gradient-dark] .hljs-quote {
  color: #af8dd9;
}
[theme=gradient-dark] .hljs-attr, [theme=gradient-dark] .hljs-regexp, [theme=gradient-dark] .hljs-selector-id, [theme=gradient-dark] .hljs-selector-tag, [theme=gradient-dark] .hljs-tag, [theme=gradient-dark] .hljs-template-tag {
  color: #aefbff;
}
[theme=gradient-dark] .hljs-bullet, [theme=gradient-dark] .hljs-params, [theme=gradient-dark] .hljs-selector-class {
  color: #f19fff;
}
[theme=gradient-dark] .hljs-keyword, [theme=gradient-dark] .hljs-meta .hljs-keyword, [theme=gradient-dark] .hljs-section, [theme=gradient-dark] .hljs-symbol, [theme=gradient-dark] .hljs-type {
  color: #17fc95;
}
[theme=gradient-dark] .hljs-addition, [theme=gradient-dark] .hljs-link, [theme=gradient-dark] .hljs-number {
  color: #c5fe00;
}
[theme=gradient-dark] .hljs-string {
  color: #38c0ff;
}
[theme=gradient-dark] .hljs-addition, [theme=gradient-dark] .hljs-attribute {
  color: #e7ff9f;
}
[theme=gradient-dark] .hljs-template-variable, [theme=gradient-dark] .hljs-variable {
  color: #e447ff;
}
[theme=gradient-dark] .hljs-built_in, [theme=gradient-dark] .hljs-class, [theme=gradient-dark] .hljs-formula, [theme=gradient-dark] .hljs-function, [theme=gradient-dark] .hljs-name, [theme=gradient-dark] .hljs-title {
  color: #ffc800;
}
[theme=gradient-dark] .hljs-deletion, [theme=gradient-dark] .hljs-literal, [theme=gradient-dark] .hljs-selector-pseudo {
  color: #ff9e44;
}
[theme=gradient-dark] .hljs-emphasis, [theme=gradient-dark] .hljs-quote {
  font-style: italic;
}
[theme=gradient-dark] .hljs-keyword, [theme=gradient-dark] .hljs-params, [theme=gradient-dark] .hljs-section, [theme=gradient-dark] .hljs-selector-class, [theme=gradient-dark] .hljs-selector-id, [theme=gradient-dark] .hljs-selector-tag, [theme=gradient-dark] .hljs-strong, [theme=gradient-dark] .hljs-template-tag {
  font-weight: 700;
}

[theme=lioshi] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=lioshi] code.hljs {
  padding: 3px 5px;
}
[theme=lioshi] .hljs {
  background: #303030;
  color: #c5c8c6;
}
[theme=lioshi] .hljs-comment {
  color: #8d8d8d;
}
[theme=lioshi] .hljs-quote {
  color: #b3c7d8;
}
[theme=lioshi] .hljs-deletion, [theme=lioshi] .hljs-name, [theme=lioshi] .hljs-regexp, [theme=lioshi] .hljs-selector-class, [theme=lioshi] .hljs-selector-id, [theme=lioshi] .hljs-tag, [theme=lioshi] .hljs-template-variable, [theme=lioshi] .hljs-variable {
  color: #c66;
}
[theme=lioshi] .hljs-built_in, [theme=lioshi] .hljs-literal, [theme=lioshi] .hljs-number, [theme=lioshi] .hljs-subst .hljs-link, [theme=lioshi] .hljs-type {
  color: #de935f;
}
[theme=lioshi] .hljs-attribute {
  color: #f0c674;
}
[theme=lioshi] .hljs-addition, [theme=lioshi] .hljs-bullet, [theme=lioshi] .hljs-params, [theme=lioshi] .hljs-string {
  color: #b5bd68;
}
[theme=lioshi] .hljs-class, [theme=lioshi] .hljs-function, [theme=lioshi] .hljs-keyword, [theme=lioshi] .hljs-selector-tag {
  color: #be94bb;
}
[theme=lioshi] .hljs-meta, [theme=lioshi] .hljs-section, [theme=lioshi] .hljs-title {
  color: #81a2be;
}
[theme=lioshi] .hljs-symbol {
  color: #dbc4d9;
}
[theme=lioshi] .hljs-emphasis {
  font-style: italic;
}
[theme=lioshi] .hljs-strong {
  font-weight: 700;
}

[theme=night-owl] pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
[theme=night-owl] code.hljs {
  padding: 3px 5px;
}
[theme=night-owl] .hljs {
  background: #011627;
  color: #d6deeb;
}
[theme=night-owl] .hljs-keyword {
  color: #c792ea;
  font-style: italic;
}
[theme=night-owl] .hljs-built_in {
  color: #addb67;
  font-style: italic;
}
[theme=night-owl] .hljs-type {
  color: #82aaff;
}
[theme=night-owl] .hljs-literal {
  color: #ff5874;
}
[theme=night-owl] .hljs-number {
  color: #f78c6c;
}
[theme=night-owl] .hljs-regexp {
  color: #5ca7e4;
}
[theme=night-owl] .hljs-string {
  color: #ecc48d;
}
[theme=night-owl] .hljs-subst {
  color: #d3423e;
}
[theme=night-owl] .hljs-symbol {
  color: #82aaff;
}
[theme=night-owl] .hljs-class {
  color: #ffcb8b;
}
[theme=night-owl] .hljs-function {
  color: #82aaff;
}
[theme=night-owl] .hljs-title {
  color: #dcdcaa;
  font-style: italic;
}
[theme=night-owl] .hljs-params {
  color: #7fdbca;
}
[theme=night-owl] .hljs-comment {
  color: #637777;
  font-style: italic;
}
[theme=night-owl] .hljs-doctag {
  color: #7fdbca;
}
[theme=night-owl] .hljs-meta, [theme=night-owl] .hljs-meta .hljs-keyword {
  color: #82aaff;
}
[theme=night-owl] .hljs-meta .hljs-string {
  color: #ecc48d;
}
[theme=night-owl] .hljs-section {
  color: #82b1ff;
}
[theme=night-owl] .hljs-attr, [theme=night-owl] .hljs-name, [theme=night-owl] .hljs-tag {
  color: #7fdbca;
}
[theme=night-owl] .hljs-attribute {
  color: #80cbc4;
}
[theme=night-owl] .hljs-variable {
  color: #addb67;
}
[theme=night-owl] .hljs-bullet {
  color: #d9f5dd;
}
[theme=night-owl] .hljs-code {
  color: #80cbc4;
}
[theme=night-owl] .hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}
[theme=night-owl] .hljs-strong {
  color: #addb67;
  font-weight: 700;
}
[theme=night-owl] .hljs-formula {
  color: #c792ea;
}
[theme=night-owl] .hljs-link {
  color: #ff869a;
}
[theme=night-owl] .hljs-quote {
  color: #697098;
  font-style: italic;
}
[theme=night-owl] .hljs-selector-tag {
  color: #ff6363;
}
[theme=night-owl] .hljs-selector-id {
  color: #fad430;
}
[theme=night-owl] .hljs-selector-class {
  color: #addb67;
  font-style: italic;
}
[theme=night-owl] .hljs-selector-attr, [theme=night-owl] .hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}
[theme=night-owl] .hljs-template-tag {
  color: #c792ea;
}
[theme=night-owl] .hljs-template-variable {
  color: #addb67;
}
[theme=night-owl] .hljs-addition {
  color: #addb67ff;
  font-style: italic;
}
[theme=night-owl] .hljs-deletion {
  color: #ef535090;
  font-style: italic;
}
